.heading  {
    color: blueviolet;
}

.test{
    display: flex;
    justify-content: space-between;
    border:  1px solid;
    padding: 30px;
    background-color: antiquewhite;
}
#inp{
    width: 50%;
}

#icon {
    margin-left: -310px;
    height: 30px;
    margin-top: 15px;
}

#usr{
    height: 30;
}