.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
}

.logo{
    width: 80px;
}

.nav-items >ul {
    display: flex;
    list-style-type: none;

}

.nav-items > ul >li{
    padding: 5px;
    font-size: 25px;
    margin-right: 40px;
    text-decoration: solid;
}

.search-container {
    margin: 20px 0;
    margin-left: 30%;

}
.search-input {
    /* width: 30%; */
}

.search-button{
background-color: orange;
}



.res-container {
    border:  1px solid black;
}

.res-card {
    width: 200px;
    margin: 10px;
    padding: 5px;
    background-color: #f0f0f0 ;
}

.img-container{
    width: 100%;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;

}

.shimmer-card{
    width: 200px;
    height: 350px;
    margin: 10px;
    background-color: #f0f0f0;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-container{
    margin: 20px 0;

}

.filter {
    display: flex;
}